/* Impostazioni di base per la pagina di registrazione */
.signUpPage {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Stile per il titolo */
h1 {
    font-size: 2.5rem;
    color: #6bcf63; /* Verde lime */
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Stile per il sottotitolo */
h2 {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 20px;
}

/* Contenitore per gli input */
.inputContainer {
    display: flex;
    flex-direction: column;
}

/* Stile per le etichette */
p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0 5px;
}

/* Stile per gli input */
input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #6bcf63; /* Verde lime */
    box-shadow: 0 0 5px rgba(107, 207, 99, 0.5); /* Ombra al focus */
    outline: none;
}

/* Stile per i pulsanti */
.signUpButton {
    background-color: #6bcf63; /* Verde lime */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    width: 100%; /* Larghezza al 100% */
}

.signUpButton:hover {
    background-color: #5aa652; /* Verde scuro */
    font-size: 1.2rem;
    transform: translateY(-2px); /* Leggera elevazione al passaggio del mouse */
}

/* Pulsante per il login */
.loginSignUpButton[type="button"] {
    color: white;
    border: none;
    width: 400px;
    background-color: #007bff; /* Blu */
    border-radius: 5px;
    font-size: 1.0rem;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loginSignUpButton[type="button"]:hover {
    border: none;
    margin-top: 5px;
    width: 400px;
    color: white;
    font-size: 1.1rem;
    background-color: #0056b3; /* Blu scuro al passaggio del mouse */
    transform: translateY(-2px); /* Leggera elevazione al passaggio del mouse */
    padding-top: 5px;
    padding-bottom: 5px;
}
